* {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  justify-content: center;
}

.square {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
  color: white;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: red;
}